In [94]:
import pandas as pd
import numpy as np

In [165]:
df = pd.read_csv('datasets/dataset_cler.csv', sep=";", encoding='utf-16')

In [166]:
df['take'].value_counts()

-40.0    175
 40.0    166
Name: take, dtype: int64

In [164]:
df_qtbars['qt_bars'].value_counts()

3    28
4    18
5     8
6     4
Name: qt_bars, dtype: int64

In [162]:
df.head(2)

,DtRef,ampl_20,desv_amp_20,body_20,body_per_20,pavio_sup_20,pavio_sup_per_20,pavio_inf_20,pavio_inf_per_20,high_dist_20,...,pavio_inf_h1_0,pavio_inf_per_h1_0,high_dist_h1_0,low_dist_h1_0,type_h1_0,atr,qt_bars,oper,take,status
0,2019.11.01 09:24,85.0,1.31,55.0,64.71,0.0,0.0,30.0,35.29,45.0,...,55.0,6.92,710.0,295.0,up,51.07,3,Sell,-40.0,Loss
1,2019.11.01 09:37,30.0,0.55,0.0,0.00,0.0,0.0,0.0,0.00,10.0,...,55.0,6.59,750.0,295.0,up,95.00,3,Buy,-40.0,Loss

In [157]:
df.loc[df['take']=='take']

,ampl_20,desv_amp_20,body_20,body_per_20,pavio_sup_20,pavio_sup_per_20,pavio_inf_20,pavio_inf_per_20,high_dist_20,low_dist_20,...,pavio_inf_h1_0,pavio_inf_per_h1_0,high_dist_h1_0,low_dist_h1_0,type_h1_0,atr,qt_bars,oper,take,status
341,ampl_20,desv_amp_20,body_20,body_per_20,pavio_sup_20,pavio_sup_per_20,pavio_inf_20,pavio_inf_per_20,high_dist_20,low_dist_20,...,pavio_inf_h1_0,pavio_inf_per_h1_0,high_dist_h1_0,low_dist_h1_0,type_h1_0,atr,qt_bars,oper,take,status
683,ampl_20,desv_amp_20,body_20,body_per_20,pavio_sup_20,pavio_sup_per_20,pavio_inf_20,pavio_inf_per_20,high_dist_20,low_dist_20,...,pavio_inf_h1_0,pavio_inf_per_h1_0,high_dist_h1_0,low_dist_h1_0,type_h1_0,atr,qt_bars,oper,take,status

-40.0    525
40.0     498
take       2
Name: take, dtype: int64

In [129]:
df_loss = df.loc[df['take'] < 0]
df_take = df.loc[df['take'] > 0]

In [130]:
df_loss['qt_bars'].value_counts()

3     90
4     49
5     17
6     12
7      4
10     2
8      1
Name: qt_bars, dtype: int64

In [131]:
df_take['qt_bars'].value_counts()

3    88
4    41
5    23
6    11
7     2
8     1
Name: qt_bars, dtype: int64

In [133]:
df.groupby(['qt_bars', 'take']).size()

qt_bars  take
3        -40.0    90
          40.0    88
4        -40.0    49
          40.0    41
5        -40.0    17
          40.0    23
6        -40.0    12
          40.0    11
7        -40.0     4
          40.0     2
8        -40.0     1
          40.0     1
10       -40.0     2
dtype: int64

In [139]:
df.groupby(['qt_bars', 'take']).size().reset_index(name='counts')

    qt_bars  take  counts
0         3 -40.0      90
1         3  40.0      88
2         4 -40.0      49
3         4  40.0      41
4         5 -40.0      17
5         5  40.0      23
6         6 -40.0      12
7         6  40.0      11
8         7 -40.0       4
9         7  40.0       2
10        8 -40.0       1
11        8  40.0       1
12       10 -40.0       2

In [140]:
df.groupby(['qt_bars', 'take']).agg({'qt_bars':['mean', 'count'], 
                                     'take':['mean', 'count']})

              qt_bars        take
                 mean count  mean count
qt_bars take
3       -40.0       3    90 -40.0    90
         40.0       3    88  40.0    88
4       -40.0       4    49 -40.0    49
         40.0       4    41  40.0    41
5       -40.0       5    17 -40.0    17
         40.0       5    23  40.0    23
6       -40.0       6    12 -40.0    12
         40.0       6    11  40.0    11
7       -40.0       7     4 -40.0     4
         40.0       7     2  40.0     2
8       -40.0       8     1 -40.0     1
         40.0       8     1  40.0     1
10      -40.0      10     2 -40.0     2

In [154]:
grp = df.groupby(['qt_bars',  'take'])[['take']]

#grp.max() 
#grp.mean() 
#grp.describe() 
grp.count()

               take
qt_bars take
3       -40.0    90
         40.0    88
4       -40.0    49
         40.0    41
5       -40.0    17
         40.0    23
6       -40.0    12
         40.0    11
7       -40.0     4
         40.0     2
8       -40.0     1
         40.0     1
10      -40.0     2